<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Adding pets Form</title>
</head>
<body>
    <div >
        <h1 >Add New Pet</h1>
        <div >
          <div >
            <form method="POST">
              {{ form.hidden_tag() }}
    
              {% for field in form if field.widget.input_type != 'hidden'%}
              <div >
                {{field.label}}
                {{field(class_="form-control")}}
                {% for err in field.errors %}
                <small ">
                  {{err}}
                </small>
                {% endfor %}
              </div>
              {% endfor %}
              <button >Submit</button>
              <a href="/" >Go Back</a>
            </form>
          </div>
        </div>
      </div>
    
    
</body>
</html>